.romantic-comedy-page-container{
    height: 100vh;
    width: 100%;
    background: url('https://images.unsplash.com/photo-1515871204537-49a5fe66a31f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1082&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.romantic-comedy-page-title-text{
    margin-top: 10vh;
    color: aliceblue;
    font-size: 4rem;
}

.romantic-movie-container{
    width: 80%;
    display: flex;
    justify-content: space-around;
    justify-content: space-evenly;
    margin-top: 50px;
}
