.dashboard-container{
    height: 100vh;
    background-image: url('https://resize.indiatvnews.com/en/resize/newbucket/1200_-/2022/07/tkss-1658298331.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}