.action-page-container{
    height: 100vh;
    width: 100%;
    background: url('https://images.unsplash.com/photo-1485846234645-a62644f84728?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1159&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.action-page-title-text{
    margin-top: 10vh;
    color: aliceblue;
    font-size: 4rem;
}

.action-movie-container{
    width: 80%;
    display: flex;
    justify-content: space-around;
    justify-content: space-evenly;
    margin-top: 50px;
}
