.anime-page-container{
    height: 100vh;
    width: 100%;
    background: url('https://wallpaperaccess.com/full/36634.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.anime-page-title-text{
    margin-top: 10vh;
    color: aliceblue;
    font-size: 4rem;
    font-weight: bold;
}

.anime-movie-container{
    width: 90%;
    display: flex;
    overflow: hidden;
    object-fit: contain;
    // justify-content: space-around;
    // justify-content: space-evenly;
    margin-top: 50px;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-x: scroll;
}

.anime-movie-container::-webkit-scrollbar {
    margin-top: 0;
    width: 20px;
  }
  
  /* Track */
  .anime-movie-container::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0);  
    // backdrop-filter: blur(0px);
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  .anime-movie-container::-webkit-scrollbar-thumb {
    background: linear-gradient(#283048,#859398); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  .anime-movie-container::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(#283048,#859398); 
  }

.main-card-container{
    height: 40vh;
    width: 250px;
    border: 2px solid whitesmoke;
    // padding: 50px;
    // background: url('https://flxt.tmsimg.com/assets/p173378_p_v8_au.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 10vh;
    text-decoration: none;
}

.grave-of-fireflies{
    background: url('https://m.media-amazon.com/images/M/MV5BZmY2NjUzNDQtNTgxNC00M2Q4LTljOWQtMjNjNDBjNWUxNmJlXkEyXkFqcGdeQXVyNTA4NzY1MzY@._V1_FMjpg_UX1000_.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.lion-king{
    background: url('https://m.media-amazon.com/images/M/MV5BYTYxNGMyZTYtMjE3MS00MzNjLWFjNmYtMDk3N2FmM2JiM2M1XkEyXkFqcGdeQXVyNjY5NDU4NzI@._V1_.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.spider-man{
    background: url('https://m.media-amazon.com/images/M/MV5BMjMwNDkxMTgzOF5BMl5BanBnXkFtZTgwNTkwNTQ3NjM@._V1_.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.spirited-away{
    background: url('https://m.media-amazon.com/images/M/MV5BMjlmZmI5MDctNDE2YS00YWE0LWE5ZWItZDBhYWQ0NTcxNWRhXkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.your-name{
    background: url('https://m.media-amazon.com/images/M/MV5BNGYyNmI3M2YtNzYzZS00OTViLTkxYjAtZDIyZmE1Y2U1ZmQ2XkEyXkFqcGdeQXVyMTA4NjE0NjEy._V1_.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.main-card-container-before-hover{
    height: 40vh;
    width: 250px;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    // background-color: aqua;
}

.main-card-container-top{
    height: 35vh;
    width: 250px;
    margin: 0;
    padding: 0;
}

.main-card-container-top-text{
    display: flex;
    font-size: 2rem;
    color: aliceblue;
    padding: 10px;
}

.imdbicon{
    width: 70px;
}

.main-card-container-bottom{
    height: 8vh;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.main-card-container-bottom-on-hover{
    transform-origin: 0 100%;
    width: 250px;
    height: 25vh;
    margin-top: -25vh;
    background: #141414;
    opacity: 0.7;
    transition: transform .5s;
    transform: scaleY(0);
}

.main-card-container:hover {
    .main-card-container-bottom{
        display: none;
    }
    .main-card-container-bottom-on-hover{
        transform: scaleY(1);
    }
}