.dashboard-container-middle{
    // margin-top: -100px;
    // height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chevron{
    // padding-top: 40vh;
    color: #fff;
    font-size: 3rem;
    cursor: pointer;
  }

  .chevron:hover{
    color: blanchedalmond;
  }