@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;900&display=swap');



// .container  {
//   position: absolute;
//   left: 50%;
//   top: 50%;
//   transform: translate(-50%, -50%);
//   height: 400px;
//   width: 600px;
//   background: white;
//   overflow: hidden;
//   border-radius: 20px;
//   cursor: pointer;
//   box-shadow: 0 0 20px 8px #d0d0d0;
// }

.card-container{
    height: 30vh;
    width: 15vw;
    border: 2px solid whitesmoke;
    padding: 50px;
    background: url('https://i.pinimg.com/originals/03/5a/1e/035a1e61ba9e4b1fd767bf8066c6f45e.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.imdbRatingPlugin{

}

.rating-star-icon{
    background-color: yellow;
}
