@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;900&display=swap');



// .container  {
//   position: absolute;
//   left: 50%;
//   top: 50%;
//   transform: translate(-50%, -50%);
//   height: 400px;
//   width: 600px;
//   background: white;
//   overflow: hidden;
//   border-radius: 20px;
//   cursor: pointer;
//   box-shadow: 0 0 20px 8px #d0d0d0;
// }

.card-container{
    height: 30vh;
    width: 15vw;
    border: 2px solid white;
    padding: 50px;
}
